.info-main-section {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.info-main-section h2 {
    font-size: 3em;
    color: black;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
    display: inline-block;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

/* --- CARD UMUM & ANIMASI --- */
.info-card {
    background-color: white;
    padding: 0;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    /*min-height: 250px;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
    cursor: pointer;

    /* transisi */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Efek Hover */
.info-card:hover,
.info-card.hover-effect {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.info-card img {
    width: 100%;
    height: 150px;
    object-fit: cover; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/* OVERLAY DAN KONTEN */
.info-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card-content {
    padding: 20px;
    position: relative;
    z-index: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
}

.card-content p {
    font-size: 1em;
    margin-bottom: 20px;
    color: #333;
}

.read-more-btn {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 8px 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 0.9em;
    text-align: center;
    transition: background-color 0.3s;
    text-decoration: none;
    align-self: flex-start;
}

.read-more-btn:hover {
    background-color: white;
    color: black;
}


/* Card 1: Lomba EPIM */
/*.card-1 {
    background-image: url('images/informasi/epim1.png');
    background-size: cover;
    background-position: center;
}

/* Card 2: NDJI */
/*.card-2 {
    background-image: url('images/informasi/nidji.png');
    background-size: cover;
    background-position: center;
}

/* Card 3: LKMM PRA-TD */
/*.card-3 {
    background-image: url('images/informasi/lkmm.png');
    background-size: cover;
    background-position: bottom;
}

/* --- RESPONSIVITAS --- */
@media (max-width: 768px) {
    .info-grid {
        grid-template-columns: 1fr;
    }

    .info-main-section h2 {
        font-size: 2.5em;
    }
}